.header__button {
    position: relative;
    text-decoration: none;
    color: #968b79;
    background: white;
    border: 1px solid #968b79;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 20px;
}

.content {
    max-width: 1536px;
}

.title {
    margin: 0 auto;
}

.title-h {
    text-align: center;
    font-weight: lighter;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.form__search {
    display: flex;
    align-items: center;
    text-align: left;
}

.form__search-name {
    width: 300px;
    height: 40px;
}

.form__search-gender {
    width: 100px;
    height: 40px;
}

.form__search-content {
    width: 150px;
    height: 40px;
}

.form__search-date {
    width: 100px;
    height: 40px;
}

.form__search-item {
    padding: 5px 20px;
}

.search__button-submit {
    width: 80px;
    height: 40px;
    background: #968b79;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.reset__button-submit {
    width: 80px;
    height: 40px;
    background: red;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.export {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.form__export-button {
    background: #ddd;
    border: none;
}

.table-content {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.table {
    border: 1px solid #968b79;
    margin: 20px 0;
}

.table-row {
    border-bottom: 1px solid #968b79;
}

.table-row:hover {
    outline: 3px solid black;
}

.table-title {
    background: #968b79;
}

.table-span {
    text-align: left;
    color: white;
    border: none;
    padding: 10px;
}

.table__item {
    width: 100%;
}

.form {
    display: flex;
}

.form__item {
    display: flex;
}

.form__item-input {
    height: 45px;
    padding: 5px 20px;
    outline: none;
    border: none;
}

.form__item-p {
    text-align: left;
}

.form__button-detail {
    width: 80px;
    height: 35px;
    background: white;
    color: #968b79;
    border: #968b79;
    border-width: 3px;
    border-radius: 3px;
    cursor: pointer;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

*:popover-open {
    position: relative;
    padding: 30px;
    text-align: center;
}

.close__button-item {
    background: white;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
}

.popover-group {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.popover-group__item-input {
    outline: none;
    border: none;
    margin-left: 10px;
}

.delete__button-item {
    background: red;
    color: white;
    border: none;
    margin: 20px 0;
    padding: 5px 15px;
    cursor: pointer;
}