.header{
    border-bottom: 1px solid #000;
}

.header__item {
    display: flex;
}

.header-title__item nav {
    right: 20px;
}

.header-title {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-title__item {
    font-size: 24px;
    text-align: center;
}