

.content {
    max-width: 1536px;
    background: #efe8dd;
}

.title {
    text-align: center;   
    padding: 30px 0;
}

.title-h {
    text-align: center;
    font-weight: lighter;
    margin: 0;
}

.form {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: white;
    width: 60%;
}

.form__item {
    width: 70%;
}

.form__goup-title-span {
    text-align: left;
}

.form__error {
    color: red;
}

.form__group-input {
    width: 70%;
}

.form__group-unput-item {
    width: 100%;
    padding: 5px 10px;
}

.form__button {
    margin: 20px 0;
    text-align: center;
}

.form__button-submit {
    padding: 5px 20px;
    background: #968b79;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}