.content {
    max-width: 1536px;
    background: #efe8dd;
}

.title {
    text-align: center;
}

.title-h {
    text-align: center;
    font-weight: lighter;
}

.form {
    text-align: center;
    margin: 0 auto;
    background: white;
    width: 60%;
}

.form__error {
    color: red;
}

.form__button {
    margin: 20px 0;
    text-align: center;
}

.form__button-submit {
    padding: 5px 20px;
    background: #968b79;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}