.header__nav-a {
    text-decoration: none;
    right: 20px;
    color: #968b79;
    background: white;
    border: 1px solid #968b79;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 15px 20px;
}

.contact {
    max-width: 1536px;
    background: #efe8dd;
    height: 100%;
    margin: 0;
}

.title {
    text-align: center;
    padding: 30px 0;
}

.title-h {
    text-align: center;
    font-weight: lighter;
    margin: 0;
}

.form {
    text-align: center;
    margin: 0 auto;
    background: white;
    width: 60%;
}

.form__group {
    margin: 0 auto;
}

.form__goup-title-span {
    margin-top: 30px;
    text-align: left;
}

.form__group-input-item {
    width: 50%;
    padding: 10pxpx 10px;
}

.form__error {
    color: red;
    text-align: left;
}

.form__button {
    text-align: center;
    margin-top: 30px;
}

.form__button-submit {
    padding: 5px 20px;
    background: #968b79;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}