.content {
    max-width: 1536px;
}

.content__group {
    margin: 0 auto;

}

.content-thanks {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    color: #968b79;   
}

.content-thanks::after {
    content: 'Thank you';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: hsl(19, 23, 82, 0.3);
    z-index: -1;
    white-space: nowrap;
}

.content__link {
    margin-top: 20px;
}

.contact__link-a {
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #968b79;
    color: white;
    border: none;
    cursor: pointer;
}