.content {
    max-width: 1536px;
}

.content-back {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #dbccc5;
    font-size: 300px;
}

.content__group {
    margin: 0 auto;
}

.content-thanks {
    color: #968b79;
}

.form {
    margin-top: 20px;
}

.form__button-submit {
    padding: 5px 20px;
    background: #968b79;
    color: white;
    border: none;
    cursor: pointer;
}