.content {
    max-width: 1536px;
}

.content-back {
    color: #dbccc5;
    font-size: 500px;
}

.content-thanks {
    color: #968b79;
}

.form {
    margin-top: 20px;
}

.form__button-submit {
    padding: 5px 20px;
    background: #968b79;
    color: white;
    border: none;
    cursor: pointer;
}